.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/mapaoscuro-claro.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.errorText {
    font-size: 60px;
    color: rgba(255, 0, 0, 0.709);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}