.container {
    background-image: url('../images/activity.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container h2{
    color: #aaa;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formContainer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 75%;
    padding: 20px;
    border-radius: 10px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.form > div {
    grid-column: span 1;
}




.searchContainer {
    height: 50vh;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.searchContainer p {
    color: seashell;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.searchContainer label{
    color: wheat;
}

.countryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subSearchC{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countryItem {
    display: flex;
    width: 70%;
    
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    margin-bottom: 2px;
}

.countryFlag {
    width: 60px;
}


.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loadingImage {
    width: 100%;
}


.button[type='submit'] {
    
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button[type='submit']:hover {
    background-color: #2980b9;
}

/**/
.formText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 8px;
}
.formControl {
    margin-bottom: 15px;
}

.formControl label{
    color:antiquewhite;
}

.formControl span{
    color:antiquewhite;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.inputRange {
    width: 100%;
    
    height: 8px;
    border-radius: 5px;
    background-color: #ccc;
    outline: none;
    margin-top: 5px;
}

.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3498db;
    cursor: pointer;
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
}


.checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 5px;
}

.checkmark.success {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.error {
    color: rgb(217, 32, 4) !important;
    font-size: 16px;
}


.selectCountriesC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.selectedCountry{
    display: flex;
    width: 70%;
    
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    margin-bottom: 2px;
}

.selectedCountry label{
    color: antiquewhite;
}