.container{
    min-height: 680px;
}

.paginationContainer {
    display: flex;
    max-width: 1670px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paginationContainer button {
    background-color: transparent;
    font: 1em sans-serif;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

.paginationContainer .activeButton {
    background-color: #383a3e; 
    width: 32px;
    height: 32px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.paginationContainer button:hover {
    color: #555;
}

@media (max-width: 960px) {
    .paginatioContainer {
        flex-direction: column;
    }
}